

<div class="heading-container">
    <div class="heading">
        <div>
            <h2>Welcome, {{name}}</h2>

        </div>
        <div class="detailed-text">
            <b>We’ve trained a model which interacts in a conversational way. 
                The dialogue format makes it possible for the model to answer followup questions, 
                Try the model by clicking the below buttton</b>

        </div>
    </div>
    <div class="gpt-button">
        <button (click) = "toChat();">GPT4</button>
    </div>
</div>